apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: monitoring
  namespace: argocd
  finalizers:
  - resources-finalizer.argocd.argoproj.io
spec:
  generators:
    - git:
        repoURL: https://github.com/zycheny/argo-apps.git
        revision: HEAD
        directories:
          - path: apps/monitoring/*
  template:
    metadata:
      name: '{{ path.basename }}'
      annotations:
        argocd.argoproj.io/compare-options: ServerSideDiff=true
    spec:
      project: monitoring
      source:
        repoURL: https://github.com/zycheny/argo-apps.git
        targetRevision: HEAD
        path: '{{ path }}'
      destination:
        namespace: argocd
        server: https://kubernetes.default.svc
      syncPolicy:
        automated:
          selfHeal: true
          prune: true
        syncOptions:
          - ApplyOutOfSyncOnly=true
          - ServerSideApply=true